.guide ul li{
	height:225px;
	margin-bottom:35px;
	}
.playMore{
	text-align:center;
	font-size:16px;
	padding-top:10px;
	padding-bottom:50px;
}
.playMore .more-btn{
	padding-left:24px;
	}
.report .playMore{
	padding-top:22px;
	}